body{
    box-sizing: border-box;
    text-align: center;
    /* to eliminate space around the element set margin to 0 */
    margin: 0;
    display: flex;
    flex-direction: column;
    /* for the footer */
    
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: black;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(170, 76, 9);
    border-radius: 5px;
}

#menu{
    position: relative;
    display: inline-block;
}
#drop-content{
    
    position: absolute;
    z-index: 1;
    background-color: rgb(128, 75, 50);
    color: rgb(203, 221, 236) !important; 
    text-align: left;
   
    display: none;
}

#menu:hover #drop-content{
    display: inline-block;
}

#drop-content a{
/* display: inline-block; */
padding: 1px 15px;
}

#drop-content a:hover{
    display: inline-block;
    background-color: beige;
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: rgb(70, 29, 2);
    font-weight: 800;
}
#nav{
    background-color: rgba(231, 125, 49, 0.336);
    padding: 1px;
}
#nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
#sec-nav{
    margin-left: auto;
   width: 60%;
}
#sec-nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul>li{
    list-style: none;
}
li>a{
    text-decoration: none;
    color: rgb(70, 29, 2);
    font-weight: 700;

}
main{
    flex-grow: 1;
    min-height: 100vh;
}
section.info{
    width: 400px;
    margin: 0 auto;
}
hr{
    border: 1px solid rgb(70, 29, 2);
    width: 400px;
}

footer{
    flex-grow: 0;
    bottom: 0;
    /* set width to 100% for text-align to work */
    width: 100%;
    background-color: rgba(231, 125, 49, 0.788);
}

.column{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card{
    width: 250px;
    border: solid rgb(223, 222, 222) 1px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.card>img{
    border-radius: 8px 8px 0 0;
    height: 200px;
    width: 100%;
}
.content > .info{
    text-align: justify;
    margin: 15px;
}

@media screen and (max-width: 650px) {
 .column{
    display: inline-block; 
/* use inline-block to center the card elements */
    text-align: center;
    
 } 
}